<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Path to DLL which should be injected. -->
    <add key="PathToDll" value="C:\Dev\Hack\Hack.dll"/>
    <!-- Name of the process to which You want to inject the DLL. -->
    <add key="ProcessName" value="csgo"/>
  </appSettings>
</configuration>